* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('fondo-menu.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "content sidebar"
        "footer footer";
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    background-color: rgba(207, 85, 85, 0.8);
}

.header {
    grid-area: header;
    text-align: center;
    padding: 20px;
    background-color: rgba(185, 44, 44, 0.7);
    color: rgb(141, 210, 212);
}

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: rgba(94, 10, 10, 0.9);
    border-radius: 10px;
}

.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: rgba(255, 94, 94, 0.9);
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.menu-item {
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.eliminar-platillo {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.eliminar-platillo:hover {
    background-color: #ff3333;
}